.accordeon {
    &__item {
        &:not(:last-child) {
            margin-bottom: 2.8571rem;
        }
        &--open .accordeon__block{
            max-height: 500px;

        }
        &--open .accordeon__title{
            color: $color-title;
        }
        &--open .accordeon__title:before{
            transform: rotate(180deg);
        }
    }
    list-style: none;
    &__title {
        font-size: 1rem;
        color: $nav-text;
        margin-bottom: 0.7143rem;
        cursor: pointer;
        &:before {
            content: '';
            display: inline-flex;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 7px solid $color-title;
            margin-right: 0.3571rem;
        }
    }
    &__block {
        display: flex;
        // height: 0px;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }
    &__avatar {
        position: relative;
        width: 7.1429rem;
        height: 7.1429rem;
        border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.7857rem;
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__info {
        flex: 1;
    }
    &__occup {
        color: $nav-text;
        font-family: $regular-text-b;
        font-size: 1rem;
        margin-bottom: 1.7857rem;
    }
    &__desc {
        color: $nav-text;
        font-family: $regular-text-l;
        font-size: 1rem;
        // padding-right: 14.2857rem;
    }
}

.accordeon-h {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    .accordeon__item {
        display: flex;
        margin-bottom: 0;
        background-color: rgba(0,0,0, .5);
        &:nth-child(1) .accordeon__wrap{
            background: url('../images/food-menu/1.webp') center center / cover no-repeat;
        }
        &:nth-child(2) .accordeon__wrap{
            background: url('../images/food-menu/2.webp') center center / cover no-repeat;
        }
        &:nth-child(3) .accordeon__wrap{
            background: url('../images/food-menu/3.webp') center center / cover no-repeat;
        }
        &--open .accordeon__block{
            width: 37.1429rem;
            max-height: 100%;
        }
        &--open .accordeon__title{
            color: $nav-text;
        }
        &--open .accordeon__desc {
            opacity: 1;
            transition: opacity .3s;
            transition-delay: .9s;
        }
    }
    .accordeon__title {
        display: block;
        height: 100vh;
        font-size: 2.8571rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        padding: 2rem 1.2857rem;
        text-align: start;
        &::before {
            content: none;
        }
    
    }
    .accordeon__wrap {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, .5);
        }
    }
    .accordeon__block {
        width: 0;
        height: 100%;
    }
    .accordeon__desc {
        padding: 4.2857rem 2.1429rem;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .accordeon {
        text-align: center;
        &__title {
            font-size: 1.7857rem;
        }
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__avatar {
            margin-right: 0;
            margin-bottom: 1.7857rem;
            flex-shrink: 0;
        }
        &__desc {
            padding: 0 3.5714rem;
        }
    }
    .accordeon-h {
        transition: transform 1s;        
  }
} 