.btn {
    display: inline-flex;
    font-family: $regular-text-m;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: $btn-text;
    padding: 13px 15px;
    cursor: pointer;
    transition: background-color .2s;
    &__primary {
        background-color: $btn-color-primary;
        &:hover {
            background-color: darken($btn-color-primary, 10%);
        }
    }
    &__secondary {
        background-color: $btn-color-secondary;
        &:hover {
            background-color: darken($btn-color-secondary, 10%);
        }
    }
    &__reset {
        background-color: transparent;
    }
}
