.contacts {
    margin: 10px 0;
    &__address {
        color: $nav-text;
        font-family: $regular-text-l;
    }
    &__link {
        display: inline-flex;
        align-items: center;
        color: $color-price;
        font-family: $regular-text-b;
        text-decoration: none;
        &::before {
            content: '';
            display: inline-flex;
            width: 0.8571rem;
            height: 0.8571rem;
            background: url(.././images/contacts/phone.svg) center center / cover no-repeat;
            margin-right: 0.3571rem;
        }
    }
}
@media (max-width: 480px) {
    .contacts {
        text-align: center;
        margin-top: 0;
        &__address {
            margin-bottom: 0.3571rem;
        }
    }
  }