.delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: $regular-text-m;
    &__title {
        margin-bottom: 3.9286rem;
        text-align: center;
    }
    &__form {
        display: flex;
    }
    &__left {
        flex: 1;
        margin-right: 1.4286rem;
    }
    &__right {
        flex: 1;
    }
    &__row {
        display: flex;
        margin-bottom: 1.4286rem;
    }
    &__block {
        flex: 1;
        margin-right: 1.4286rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__subtitle {
        margin-bottom: 0.3571rem;
        color: $nav-text;
    }
    &__radiolabel {
        margin-bottom: 0.3571rem;
        color: $nav-text;
    }
    &__input {
        width: 100%;
        padding: 0.5714rem 1.5rem;
        border: none;
        border-radius: 0.2857rem;
        color: #2f3234;
        border: 2px solid transparent;
        &:focus {
            outline: none;
            border: 2px solid #f9b43b;
        }
    }
    &__textarea {
        width: 100%;
        height: 7.9286rem;
        padding: 0.5714rem 1.5rem;
        border: none;
        border-radius: 0.2857rem;
        border: 2px solid transparent;
        resize: none;
        &:focus {
            outline: none;
            border: 2px solid #f9b43b;
        }
    }
    &__radio {
        display: none;
        &:checked + .delivery__radiolabel, 
        &:not(:checked) + .delivery__radiolabel {
            display: inline-block;
            position: relative;
            padding-left: 1.7857rem;
            margin-right: 1.2857rem;
            margin-top: 0.6429rem;
            cursor: pointer;
        }
        &:checked + .delivery__radiolabel:before,
        &:not(:checked) + .delivery__radiolabel:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 18px;
            height: 18px;
            border: 1px solid #cacaca; 
            background-color: #ffffff;
            background: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%);
            border-radius: 50%;
        }
        &:checked + .delivery__radiolabel:after,
        &:not(:checked) + .delivery__radiolabel:after {
            content: "";
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            left: 5px;
            top: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $btn-color-primary;
        }
        &:checked + .delivery__radiolabel:after {
            opacity: 1;
        }
        &:not(:checked) + .delivery__radiolabel:after {
            opacity: 0;
        }
    }
    &__checklabel {
        margin-bottom: 5px;
        color: $nav-text;
    }
    &__check {
        display: none;
        &:checked + .delivery__checklabel, 
        &:not(:checked) + .delivery__checklabel {
            display: inline-block;
            position: relative;
            padding-left: 1.7857rem;
            margin-right: 1.2857rem;
            margin-top: 0.6429rem;
            cursor: pointer;
        }
        &:checked + .delivery__checklabel:before,
        &:not(:checked) + .delivery__checklabel:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1.2857rem;
            height: 1.2857rem;
            border: 1px solid #cacaca;
            background-color: #ffffff;
            background: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%);
        }
        &:checked + .delivery__checklabel:after,
        &:not(:checked) + .delivery__checklabel:after {
            content: "";
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            left: 0.1429rem;
            top: 0.2857rem;
            width: 1rem;
            height: 0.5714rem;
            border-radius: 1px;
            border-left: 4px solid $btn-color-primary;
            border-bottom: 4px solid $btn-color-primary;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:checked + .delivery__checklabel:after {
            opacity: 1;
        }
        &:not(:checked) + .delivery__checklabel:after {
            opacity: 0;
        }
    }
}

@media (max-width:768px) {
    .delivery {
        &__form {
            flex-direction: column;
            width: 470px;
        }
        &__left {
            margin-right: 0;
        }
    }
}

@media (max-width:480px) {
    .delivery {
        &__title {
            text-align: center;
        }
        &__form {
            width: 100%;
        }
        &__row {
            justify-content: center;
        }
    }
}