.footer {
    background-color: #000;
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__left {
        flex: 1;
        color: $nav-text;
        align-items: center;
    }
    &__right {
        flex: 1;
        align-items: center;
    }
}