.food-menu {
    position: relative;
    width: 100%;
    &__title {
        position: absolute;
        color: $nav-text;
        top: 5%;
        left: 5%;
    }
}

@media (max-width: 768px) {
    .food-menu {
        &__title {
        top: 5%;
        left: 1.5rem;
        }
    }
  }
  @media (max-width: 480px) {
    .food-menu {
        &__title {
        top: 5%;
        left: 2rem;
        }
    }
  }