.footer {
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__left {
        flex: 1;
        color: $nav-text;
        align-items: center;
    }
    &__right {
        flex: 1;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .footer {
        &__container {
        flex-direction: column;
        padding: 1.4286rem;
        }
    }
  }