.nav__menu {
    display: flex;
    margin: 0 15px;
    font-family: $regular-text-m;
}
.nav__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    &:not(:last-child):after {
        content: '';
        display: inline-flex;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $nav-text;
        margin-right: 15px;
    }
}
.nav__link {
    color: $nav-text;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
}