.navigation {
    &__menu {
        position: fixed;
        top: 95px;
        right: 50px;
    }
    &__list {
        list-style: none;
    }
    &__item{
        &:not(:last-child){
            margin-bottom:10px;
        }
    }
    &__item.active .navigation__link{
        border-color:#fff;
    }
    &__link {
        display: inline-block;
        height: 14px;
        width: 14px;
        border:1px solid transparent;
        border-radius:50%;
        position: relative;
        &:before{
            content:'';
            display: inline-block;
            height: 5px;
            width: 5px;
            background: #fff;
            border-radius:50%;
            
            position: absolute;
            top:50%;
            left: 50%;
            transform:translate(-50%,-50%);
        }
        &:hover {
            border-color: #fff;
        }
        &--active:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: transparent;
            border: 1px solid $nav-text;
            border-radius: 50%;
        }
    }
}


@media (max-width: 768px) {
    .navigation {
        display: none;
    }
  }