.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__title {
        color: #2f3234;
    }
    &__up {
        margin-bottom: 56px;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        list-style-type: none;
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    &__block {
        margin-top: 35px;
    }
    &__subtitle {
        margin-bottom: 56px;
        font-family: $title-text;
        font-size: 24px;
        font-weight: bold;
    }
    &__desc {
        font-size: 14px;
        font-weight: 300;
        font-family: $regular-text-l;
        color: #2f3234;
        opacity: .8;
    }
}
