.popup {
    position: fixed;
    top: 0;
    left: -9999px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 50, 52, .92);
    opacity: 0;
    transition: opacity .3s;
    &--opened {
        display: flex;
        opacity: 1;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__wrap {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        color: $modal-color;
        font-family: $regular-text-l;
        padding: 20px;  
        max-width: 400px;
        margin: 0 15px;
    }
    &__title {
        color: $modal-color;
        font-size: 1rem;
        margin-bottom: 15px;
    }
    &__text {
        line-height: 25px;
    }
    &__close{
        border: none;
        background-color: transparent;
        display: block;
        position: absolute;
        top: 10%;
        right: 10%;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:after {
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 4px;
            background-color: #ec876b;
            border-radius: 5px;
            transform: rotate(45deg);
        }
        &:before {
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 4px;
            background-color: #ec876b;
            border-radius: 5px;
            transform: rotate(-45deg);
        }
    }
}
