.review {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    &__item {
        position: relative;
        list-style-type: none;
        width: 25%;
        height: 50%;
        padding: 50px 18px;
        &:nth-child(1) {
            background: url(../images/review/photo-one.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(2) {
            background: url(../images/review/photo-two.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(3) {
            background: url(../images/review/photo-three.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(4) {
            background: url(../images/review/photo-four.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(5) {
            background: url(../images/review/photo-five.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(6) {
            background: url(../images/review/photo-six.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(7) {
            background: url(../images/review/photo-seven.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:nth-child(8) {
            background: url(../images/review/photo-eight.webp) center center / cover no-repeat;
            background-color: gray;
            background-blend-mode: luminosity;
        }
        &:hover {
            .review__title {
                opacity: 1;
            }
            .review__text {
                opacity: 1;
            }
            .review__btn {
                opacity: 1;
            }
        }
    }
    &__title {
        position: relative;;
        font-size: 14px;
        color: $nav-text;
        margin-bottom: 32px;
        opacity: 0;
        transition: opacity .5s;
    }
    &__text {
        font-family: $regular-text-l;
        color: $nav-text;
        line-height: 23px;
        margin: 0 0 20px 0;
        opacity: 0;
        transition: opacity .5s;
    }
    &__btn {
        opacity: 0;
        transition: opacity .5s;
    }

}

@media (max-width: 768px) {
    .review {
        &__item {
            width: 50%;
            height: 25%;
            padding: 2.1429rem 1.2857rem;
            &--open {
                .review__title {
                    opacity: 1;
                }
                .review__text {
                    opacity: 1;
                }
                .review__btn {
                    opacity: 1;
                }
            }
        }
        &__article {
            text-align: center;
        }
        &__title {
            margin-bottom: 1.7143rem;
        }
        &__text {
            line-height: 18px;
        }
    }
}

@media (max-width: 768px) {
    .review {
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.1rem 2.2rem;
        }
        &__title {
            font-size: 1.7143rem;
        }
        &__text {
            display: none;
        }
    }
  }