.sticker {
    position: absolute;
    font-family: $title;
    color: $nav-text;
    &--up {
        top: 25%;
        left: 0;
    }
    &--down {
        bottom: 25%;
        left: 0;
    }
}


.composition {
    position: relative;
    padding: .9rem 1.5rem;
    background-color: $sticker-color;
    border-radius: 0.3571rem;
    &__image-wrap {
        margin-bottom: 0.3571rem;
    }
    &:hover {
        background-color: #e35028;
        cursor: pointer;
        .composition-list {
            left: 100%;
            opacity: .9;
        }
    }
}

.kkal {
    position: relative;
    text-align: center;
    opacity: .7;
    &__count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4286rem;
    }
}

@media (max-width: 768px) {
    .sticker {
        &--up {
            top: 5%;
        }
        &--down {
            top: 5%;
            right: 5%;
            left: unset;
            bottom: unset;
        }
    }
  }