.team {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    &__right {
        background-color: rgba($color: #2f3234, $alpha: .93);
        width: 50%;
    }
    &__title {
        font-size: 14px;
        color: $nav-text;
        margin-bottom: 32px;
    }
}

