/*кнопки*/
$btn-text: #fff;
$btn-color-primary: #e45028;
$btn-color-secondary: #2f3234;

/*шрифты*/
$title: 'Gagalin', sans-serif;
$title-text: 'Lifehack', sans-serif;
$regular-text-l: 'Ubuntu-Light', sans-serif;
$regular-text-m: 'Ubuntu-Medium', sans-serif;
$regular-text-r: 'Ubuntu-Regular', sans-serif;
$regular-text-b: 'Ubuntu-B', sans-serif;


/*цвета*/
$nav-text: #fff;
$color-price: #e35028;
$color-title: #f9b43b;
$sticker-color: #f08c33;
$modal-color: #2f3234;
