/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-size: 14px
}
img {
  display: block;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.wrapper {
    overflow: hidden;
    // min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.section {
  // width: 100vh;
  height: 100vh;
  min-height: 650px;
  display: flex;
  // justify-content: center;
}
.container {
  width: 940px;
  max-width: 95%;
  margin: 0 auto;
  &--half-side {
    padding: 0 95px;
  }
}
.section-one {
  background: url(../images/bg/screen-one.webp) center center / cover no-repeat;
  &__arrow {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: url(../images/arrow-scroll.svg) center center / contain no-repeat;
    cursor: pointer;
    border: none;
    animation: move 1s ease-out infinite;
}
}
.section-two {
  background: url(../images/bg/screen-two.webp) center center / cover no-repeat;
}
.section-three {
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  }
  .section-four {
    background: url(../images/bg/screen-four.webp) center center / cover no-repeat;
  }
  .section-five {
    background: url(../images/h-slider/photo-one.webp) center center / cover no-repeat;
  }
  .section-seven {
    background: url(../images/bg/screen-seven.webp) center center / cover no-repeat;
  }
  .section-eight {
    background: url(../images/bg/screen-eight.webp) center center / cover no-repeat;
  }
  .footer {
    background: url(../images/bg/screen-eight.webp) center center / cover no-repeat;
  }
  .section-nine {
    position: relative;
    flex-direction: column;
  }
.title {
  font-family: 'Gagalin', sans-serif;
  color: #f9b43b;
  font-size: 5.1429rem;
  text-transform: uppercase;
  &--white {
    color: #fff;
  }
}

@keyframes move {
  25% {
  opacity: 1;
  }
  67% {
  opacity: 1;
  // transform: translateY(15px);
  bottom: 2.5%;
  }
  100% {
  opacity: 0;
  bottom: 2%;
  }
  }

  @media (max-width: 768px) {
    .wrapper {
      // min-width: 680px;
  }
    .container {
      max-width: 95%;
      &--half-side {
        padding: 0;
      }
    }
  }
  @media (max-width: 480px) {
    .wrapper {
      // min-width: 380px;
  }
    .container {
      width: 440px;
    }
    .title {
      font-size: 4rem;
    }
  }