@font-face {
    font-family: Gagalin;
    src: url(../../fonts/Gagalin-Regular.woff2);
  }
  @font-face {
    font-family: Lifehack;
    src: url(../../fonts/LifehackMedium.woff2);
  }
  @font-face {
    font-family: Ubuntu-Light;
    src: url(../../fonts/Ubuntu-Light.woff2);
  }
  @font-face {
    font-family: Ubuntu-Medium;
    src: url(../../fonts/Ubuntu-Medium.woff2);
  }
  @font-face {
    font-family: Ubuntu-Regular;
    src: url(../../fonts/Ubuntu-Regular.woff2);
  }
  @font-face {
    font-family: Ubuntu-B;
    src: url(../../fonts/Ubuntu-B.woff2);
  }