@charset "UTF-8";
/*кнопки*/
/*шрифты*/
/*цвета*/
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

img {
  display: block;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 940px;
  max-width: 95%;
  margin: 0 auto;
}

.container--half-side {
  padding: 0 6.7857rem;
}

.section-one {
  background: url(../images/bg/screen-one.webp) center center/cover no-repeat;
}

.section-one__arrow {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.8571rem;
  height: 2.8571rem;
  background: url(../images/arrow-scroll.svg) center center/contain no-repeat;
  cursor: pointer;
  border: none;
  -webkit-animation: move 1s ease-out infinite;
          animation: move 1s ease-out infinite;
}

.section-two {
  background: url(../images/bg/screen-two.webp) center center/cover no-repeat;
}

.section-three {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background-image: linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}

.section-four {
  background: url(../images/bg/screen-four.webp) center center/cover no-repeat;
}

.section-five {
  background: url(../images/h-slider/photo-one.webp) center center/cover no-repeat;
}

.section-seven {
  background: url(../images/bg/screen-seven.webp) center center/cover no-repeat;
}

.section-eight {
  background: url(../images/bg/screen-eight.webp) center center/cover no-repeat;
}

.footer {
  background: url(../images/bg/screen-eight.webp) center center/cover no-repeat;
}

.section-nine {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: 'Gagalin', sans-serif;
  color: #f9b43b;
  font-size: 5.1429rem;
  text-transform: uppercase;
}

.title--white {
  color: #fff;
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  67% {
    opacity: 1;
    bottom: 2.5%;
  }
  100% {
    opacity: 0;
    bottom: 2%;
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  67% {
    opacity: 1;
    bottom: 2.5%;
  }
  100% {
    opacity: 0;
    bottom: 2%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
  .container--half-side {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 440px;
  }
  .title {
    font-size: 4rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 10px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  font-family: "Ubuntu-Medium", sans-serif;
}

.nav__item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child):after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 15px;
}

.nav__link {
  color: #fff;
  font-family: "Ubuntu-Regular", sans-serif;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Ubuntu-Medium", sans-serif;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn__primary {
  background-color: #e45028;
}

.btn__primary:hover {
  background-color: #c13c18;
}

.btn__secondary {
  background-color: #2f3234;
}

.btn__secondary:hover {
  background-color: #171819;
}

.btn__reset {
  background-color: transparent;
}

.btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .btn__primary--margin {
    margin-right: 60px;
  }
}

.hamburger-menu {
  position: fixed;
  top: 0;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  left: -9999px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.hamburger-menu--open {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0;
}

.hamburger-menu__image {
  max-width: 100%;
}

.hamburger-menu__line {
  position: absolute;
  width: 100%;
  height: 0.1429rem;
  top: 0.5714rem;
  background: #fff;
}

.hamburger-menu__line-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu__line-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger-menu__nav .nav__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger-menu__nav .nav__item:not(:last-child):after {
  margin-right: 0;
  margin-bottom: 1.9286rem;
}

.hamburger-menu__nav .nav__link {
  font-size: 1.7143rem;
  margin-right: 0;
  margin-bottom: 1.9286rem;
}

.hamburger-menu__logo {
  position: absolute;
  top: 0.7143rem;
  left: 2.1429rem;
}

.hamburger-menu__close {
  position: absolute;
  top: 4%;
  right: 5%;
  width: 1.7143rem;
  height: 1.2857rem;
}

.hamburger-menu-link {
  vertical-align: middle;
  position: fixed;
  top: 4%;
  right: 5%;
  height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  display: none;
  z-index: 1;
}

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.7143rem;
  height: 0.3571rem;
  border-radius: 3px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-menu-link__bars:before {
  top: 0;
}

.hamburger-menu-link__bars:after {
  bottom: 0;
}

.hamburger-menu-link__bars--active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu-link__bars--active:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hamburger-menu-link__bars--active:after {
  opacity: 0;
}

@media (max-width: 768px) {
  .hamburger-menu-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6.7143rem;
}

.banner__text {
  font-family: 'Lifehack', sans-serif;
  color: #fff;
  font-size: 4.6429rem;
}

@media (max-width: 768px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10%;
  }
  .banner__col {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .banner__text {
    font-size: 4.1rem;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.offer__title {
  color: #2f3234;
}

.offer__up {
  margin-bottom: 4rem;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
}

.offer__item:not(:last-child) {
  margin-right: 2.5rem;
}

.offer__image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8.5714rem;
}

.offer__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.offer__block {
  margin-top: 2.5rem;
}

.offer__subtitle {
  margin-bottom: 4rem;
  font-family: "Lifehack", sans-serif;
  font-size: 1.7143rem;
  font-weight: bold;
}

.offer__desc {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu-Light", sans-serif;
  color: #2f3234;
  opacity: .8;
}

@media (max-width: 768px) {
  .offer__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media (max-width: 480px) {
  .offer__title {
    text-align: center;
  }
  .offer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }
  .offer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.5714rem;
  }
  .offer__image-wrap {
    margin-right: 0.7143rem;
  }
  .offer__img {
    width: 8.5714rem;
    -o-object-fit: none;
       object-fit: none;
  }
  .offer__block {
    text-align: left;
    margin-top: 0;
  }
  .offer__subtitle {
    margin-bottom: 1.0714rem;
  }
}

.slider {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
}

.slider__col {
  width: 50%;
}

.slider__burger-part {
  position: relative;
}

.slider__arrow {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.8571rem;
  height: 2.8571rem;
  background: url(../images/arrow-scroll.svg) center center/contain no-repeat;
  cursor: pointer;
  border: none;
}

.slider__arrow--left {
  left: -4%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider__arrow--right {
  right: -4%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider__title {
  margin-bottom: 3.8571rem;
  line-height: 4.2857rem;
}

.slider__text {
  color: #fff;
  font-family: "Ubuntu-Light", sans-serif;
  font-size: 1rem;
  line-height: 1.4286rem;
}

.slider__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #e35028;
  font-size: 2.1429rem;
  font-family: "Gagalin", sans-serif;
}

.slider__count {
  font-size: 5.1429rem;
}

.slider__image {
  min-width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__col {
    margin: 0 10%;
    text-align: center;
    width: 100%;
  }
  .slider__offer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__price {
    margin-right: 1.8571rem;
  }
}

@media (max-width: 480px) {
  .slider__title {
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
  }
  .slider__offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sticker {
  position: absolute;
  font-family: "Gagalin", sans-serif;
  color: #fff;
}

.sticker--up {
  top: 25%;
  left: 0;
}

.sticker--down {
  bottom: 25%;
  left: 0;
}

.composition {
  position: relative;
  padding: .9rem 1.5rem;
  background-color: #f08c33;
  border-radius: 0.3571rem;
}

.composition__image-wrap {
  margin-bottom: 0.3571rem;
}

.composition:hover {
  background-color: #e35028;
  cursor: pointer;
}

.composition:hover .composition-list {
  left: 100%;
  opacity: .9;
}

.kkal {
  position: relative;
  text-align: center;
  opacity: .7;
}

.kkal__count {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4286rem;
}

@media (max-width: 768px) {
  .sticker--up {
    top: 5%;
  }
  .sticker--down {
    top: 5%;
    right: 5%;
    left: unset;
    bottom: unset;
  }
}

.composition-list {
  position: absolute;
  left: -9999px;
  top: 0;
  background-color: #fff;
  z-index: 1;
  color: #2f3234;
  list-style: none;
  padding: 1.4286rem;
  border-radius: 0.3571rem;
  font-family: "Ubuntu-Medium", sans-serif;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.composition-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.2857rem;
}

.composition-list__item:not(:last-child) {
  margin-bottom: 1.4286rem;
}

.composition-list__image-wrap {
  height: 3.5714rem;
  width: 3.5714rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.7857rem;
}

.composition-list__image {
  max-height: 100%;
  max-width: 100%;
}

.composition-list__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.composition-list__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordeon {
  list-style: none;
}

.accordeon__item:not(:last-child) {
  margin-bottom: 2.8571rem;
}

.accordeon__item--open .accordeon__block {
  height: 100%;
}

.accordeon__item--open .accordeon__title {
  color: #f9b43b;
}

.accordeon__item--open .accordeon__title:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon__title {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.7143rem;
  cursor: pointer;
}

.accordeon__title:before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #f9b43b;
  margin-right: 0.3571rem;
}

.accordeon__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.accordeon__avatar {
  position: relative;
  width: 7.1429rem;
  height: 7.1429rem;
  border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.7857rem;
}

.accordeon__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.accordeon__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.accordeon__occup {
  color: #fff;
  font-family: "Ubuntu-B", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.7857rem;
}

.accordeon__desc {
  color: #fff;
  font-family: "Ubuntu-Light", sans-serif;
  font-size: 1rem;
}

.accordeon-h {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
}

.accordeon-h .accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.accordeon-h .accordeon__item:nth-child(1) .accordeon__wrap {
  background: url("../images/food-menu/1.webp") center center/cover no-repeat;
}

.accordeon-h .accordeon__item:nth-child(2) .accordeon__wrap {
  background: url("../images/food-menu/2.webp") center center/cover no-repeat;
}

.accordeon-h .accordeon__item:nth-child(3) .accordeon__wrap {
  background: url("../images/food-menu/3.webp") center center/cover no-repeat;
}

.accordeon-h .accordeon__item--open .accordeon__block {
  width: 37.1429rem;
}

.accordeon-h .accordeon__item--open .accordeon__title {
  color: #fff;
}

.accordeon-h .accordeon__title {
  display: block;
  height: 100vh;
  font-size: 2.8571rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 2rem 1.2857rem;
  text-align: start;
}

.accordeon-h .accordeon__title::before {
  content: none;
}

.accordeon-h .accordeon__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.accordeon-h .accordeon__wrap:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.accordeon-h .accordeon__block {
  width: 0;
  height: 100%;
}

.accordeon-h .accordeon__desc {
  padding: 4.2857rem 2.1429rem;
}

@media (max-width: 768px) {
  .accordeon {
    text-align: center;
  }
  .accordeon__title {
    font-size: 1.7857rem;
  }
  .accordeon__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accordeon__avatar {
    margin-right: 0;
    margin-bottom: 1.7857rem;
  }
  .accordeon__desc {
    padding: 0 3.5714rem;
  }
  .accordeon-h .accordeon__item--open .accordeon__block {
    width: 13rem;
  }
}

.food-menu {
  position: relative;
  width: 100%;
}

.food-menu__title {
  position: absolute;
  color: #fff;
  top: 5%;
  left: 5%;
}

@media (max-width: 768px) {
  .food-menu__title {
    top: 8rem;
    left: 1.5rem;
  }
}

@media (max-width: 480px) {
  .food-menu__title {
    top: 8rem;
    left: 4.2857rem;
  }
}

.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 0;
}

.review__item {
  position: relative;
  list-style-type: none;
  width: 25%;
  height: 50%;
  padding: 50px 18px;
}

.review__item:nth-child(1) {
  background: url(../images/review/photo-one.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(2) {
  background: url(../images/review/photo-two.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(3) {
  background: url(../images/review/photo-three.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(4) {
  background: url(../images/review/photo-four.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(5) {
  background: url(../images/review/photo-five.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(6) {
  background: url(../images/review/photo-six.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(7) {
  background: url(../images/review/photo-seven.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:nth-child(8) {
  background: url(../images/review/photo-eight.webp) center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
}

.review__item:hover .review__title {
  opacity: 1;
}

.review__item:hover .review__text {
  opacity: 1;
}

.review__item:hover .review__btn {
  opacity: 1;
}

.review__title {
  position: relative;
  font-size: 14px;
  color: #fff;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.review__text {
  font-family: "Ubuntu-Light", sans-serif;
  color: #fff;
  line-height: 23px;
  margin: 0 0 20px 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.review__btn {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

@media (max-width: 768px) {
  .review__item {
    width: 50%;
    height: 25%;
    padding: 2.1429rem 1.2857rem;
  }
  .review__item--open .review__title {
    opacity: 1;
  }
  .review__item--open .review__text {
    opacity: 1;
  }
  .review__item--open .review__btn {
    opacity: 1;
  }
  .review__article {
    text-align: center;
  }
  .review__title {
    margin-bottom: 1.7143rem;
  }
  .review__text {
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .review__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.1rem 2.2rem;
  }
  .review__title {
    font-size: 1.7143rem;
  }
  .review__text {
    display: none;
  }
}

.our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.our-work__title {
  color: #2f3234;
  text-align: center;
}

.our-work__up {
  margin-bottom: 4rem;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team__col {
  background-color: rgba(47, 50, 52, 0.93);
  width: 50%;
  padding-top: 7.1429rem;
}

.team__title {
  margin-bottom: 2.2857rem;
}

@media (max-width: 768px) {
  .team__col {
    width: 100%;
  }
  .team__title {
    text-align: center;
  }
  .team__title--mobile-hide {
    display: none;
  }
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-family: "Ubuntu-Medium", sans-serif;
}

.delivery__title {
  margin-bottom: 3.9286rem;
  text-align: center;
}

.delivery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4286rem;
}

.delivery__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.delivery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4286rem;
}

.delivery__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4286rem;
}

.delivery__block:last-child {
  margin-right: 0;
}

.delivery__subtitle {
  margin-bottom: 0.3571rem;
  color: #fff;
}

.delivery__radiolabel {
  margin-bottom: 0.3571rem;
  color: #fff;
}

.delivery__input {
  width: 100%;
  padding: 0.5714rem 1.5rem;
  border: none;
  border-radius: 0.2857rem;
  color: #2f3234;
  border: 2px solid transparent;
}

.delivery__input:focus {
  outline: none;
  border: 2px solid #f9b43b;
}

.delivery__textarea {
  width: 100%;
  height: 7.9286rem;
  padding: 0.5714rem 1.5rem;
  border: none;
  border-radius: 0.2857rem;
  border: 2px solid transparent;
  resize: none;
}

.delivery__textarea:focus {
  outline: none;
  border: 2px solid #f9b43b;
}

.delivery__radio {
  display: none;
}

.delivery__radio:checked + .delivery__radiolabel,
.delivery__radio:not(:checked) + .delivery__radiolabel {
  display: inline-block;
  position: relative;
  padding-left: 1.7857rem;
  margin-right: 1.2857rem;
  margin-top: 0.6429rem;
  cursor: pointer;
}

.delivery__radio:checked + .delivery__radiolabel:before,
.delivery__radio:not(:checked) + .delivery__radiolabel:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #cacaca;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(white));
  background: linear-gradient(0deg, #ededed 0%, white 100%);
  border-radius: 50%;
}

.delivery__radio:checked + .delivery__radiolabel:after,
.delivery__radio:not(:checked) + .delivery__radiolabel:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e45028;
}

.delivery__radio:checked + .delivery__radiolabel:after {
  opacity: 1;
}

.delivery__radio:not(:checked) + .delivery__radiolabel:after {
  opacity: 0;
}

.delivery__checklabel {
  margin-bottom: 5px;
  color: #fff;
}

.delivery__check {
  display: none;
}

.delivery__check:checked + .delivery__checklabel,
.delivery__check:not(:checked) + .delivery__checklabel {
  display: inline-block;
  position: relative;
  padding-left: 1.7857rem;
  margin-right: 1.2857rem;
  margin-top: 0.6429rem;
  cursor: pointer;
}

.delivery__check:checked + .delivery__checklabel:before,
.delivery__check:not(:checked) + .delivery__checklabel:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1.2857rem;
  height: 1.2857rem;
  border: 1px solid #cacaca;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(white));
  background: linear-gradient(0deg, #ededed 0%, white 100%);
}

.delivery__check:checked + .delivery__checklabel:after,
.delivery__check:not(:checked) + .delivery__checklabel:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 0.1429rem;
  top: 0.2857rem;
  width: 1rem;
  height: 0.5714rem;
  border-radius: 1px;
  border-left: 4px solid #e45028;
  border-bottom: 4px solid #e45028;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.delivery__check:checked + .delivery__checklabel:after {
  opacity: 1;
}

.delivery__check:not(:checked) + .delivery__checklabel:after {
  opacity: 0;
}

@media (max-width: 768px) {
  .delivery__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 470px;
  }
  .delivery__left {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .delivery__title {
    text-align: center;
  }
  .delivery__form {
    width: 100%;
  }
  .delivery__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.maps__frame {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.4286rem;
  }
}

.contacts {
  margin: 10px 0;
}

.contacts__address {
  color: #fff;
  font-family: "Ubuntu-Light", sans-serif;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e35028;
  font-family: "Ubuntu-B", sans-serif;
  text-decoration: none;
}

.contacts__link::before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0.8571rem;
  height: 0.8571rem;
  background: url(.././images/contacts/phone.svg) center center/cover no-repeat;
  margin-right: 0.3571rem;
}

@media (max-width: 480px) {
  .contacts {
    text-align: center;
    margin-top: 0;
  }
  .contacts__address {
    margin-bottom: 0.3571rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.social__item {
  width: 22px;
  height: 22px;
  position: relative;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__icon {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .3;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.social__icon:hover {
  opacity: 1;
}

.navigation__menu {
  position: fixed;
  top: 95px;
  right: 50px;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin-bottom: 15px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.navigation__item--active:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */